.screen-partners {
  &__container {
    background: $background-blue-1;
    padding: 115px 120px 120px;
  }

  &__top {
    justify-content: space-between;
    margin-bottom: 115px;
  }

  .swiper-wrapper {
    margin-bottom: 100px;
  }
}

.partners-item {
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $white-text;
    font-size: 40px;
    font-weight: 600;

    width: 442px;
    height: 260px;

    border: 1px solid $white-low;
    opacity: 0.1;
    transition: .3s;

    &:hover {
      opacity: 1;
    }
  }
}