$gold: #EAC57E;
$white-text: #FFFFFF;
$black-text: #000000;
$white-subtext: rgba(255,255,255,0.45);
$white-low: rgba(255,255,255,0.1);

$blue-opacity: rgba(14, 25, 41, 0.8);

$background-blue-deep: #121F35;
$background-blue-1: #172640;
$background-blue-2: #1a2c49;
$background-blue-3: #203456;

$nav-width: 235px;
